@import url('css/design-system.css');

.alert {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--flld-spacing-sm);
    padding: var(--flld-spacing-md);
    background-color: var(--flld-color-unearthed-teal-90);
    color: var(--flld-color-neutral-primary);
    border: 1px solid var(--flld-color-unearthed-teal-base);
    grid-area: "banner";
    border-radius: 8px;

    &.banner {
      border-radius: 0;
      border-top: none;
      border-left: none;
      border-right: none;
    }
}

button {
    height: auto;
    min-height: 44px;
    font-size: var(--flld-font-size-md);
    font-family: var(--flld-font-family-base);
    padding-inline: var(--flld-spacing-md);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--flld-spacing-sm);
    border-radius: var(--flld-spacing-sm);
    font-weight: var(--flld-font-weight-semibold);

    &:disabled {
        pointer-events: none;
        opacity: 40%;
        background-color: var(--flld-color-gray-75) !important;
        color: var(--flld-color-gray-50) !important;
        border-color: var(--flld-color-gray-75) !important;
    }

    &.primary {
        background-color: var(--flld-color-gray-10);
        color: var(--flld-color-white);
        border: none;

        &:hover:not(:disabled) {
            background-color: var(--flld-color-gray-25);
        }
    }

    &.secondary {
        background-color: var(--flld-color-white);
        color: var(--flld-color-gray-10);
        border: 2px solid var(--flld-color-gray-10);

        &:hover:not(:disabled) {
            border-color: var(--flld-color-gray-10);
            background-color: var(--flld-color-gray-95);
        }
    }

    &.destructive {
        border: 2px solid var(--flld-color-messaging-critical-shade);
        color: var(--flld-color-messaging-critical-shade);
        background-color: var(--flld-color-white);

        &:hover:not(:disabled) {
            background-color: color-mix(in oklab, var(--flld-color-messaging-critical), white 95%)
        }
    }
}

.button-group {
    display: flex;
    gap: var(--flld-spacing-sm);
    align-items: center;
}

.card {
    padding: var(--flld-spacing-md);
    border-radius: var(--flld-border-radius-lg);
    border: 1px solid var(--flld-color-gray-50);

    h2 {
        color: var(--flld-color-gray-10);
        margin-bottom: 0;
        font-size: var(--flld-font-size-lg);
    }

    p {
        color: var(--flld-color-gray-25);
        line-height: var(--flld-line-height-base);
        margin: 0;
    }
}