@import url('css/design-system.css');

.alert {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--flld-spacing-sm);
    padding: var(--flld-spacing-md);
    background-color: var(--flld-color-unearthed-teal-90);
    color: var(--flld-color-neutral-primary);
    border: 1px solid var(--flld-color-unearthed-teal-base);
    grid-area: "banner";
    border-radius: 8px;

    &.banner {
        border-radius: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 32px;
    }
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--flld-color-white);
}

button {
    min-height: 44px;
    min-width: max-content;
    font-size: var(--flld-font-size-md);
    font-family: var(--flld-font-family-base);
    font-weight: var(--flld-font-weight-semibold);
    padding: var(--flld-spacing-sm) var(--flld-spacing-md);
    gap: var(--flld-spacing-xs);
    border-radius: var(--flld-spacing-sm);
    display: flex;
    align-items: center;
    cursor: pointer;

    &:focus-visible {
        outline: 2px solid var(--flld-color-black);
        outline-offset: 2px;
    }

    &:disabled {
        pointer-events: none;
        opacity: 40%;
    }

    &.primary {
        background-color: var(--flld-color-gray-10);
        color: var(--flld-color-white);
        border: none;

        &:hover:not(:disabled) {
            background-color: var(--flld-color-gray-25);
        }
    }

    &.secondary {
        background-color: var(--flld-color-white);
        color: var(--flld-color-gray-10);
        border: 2px solid var(--flld-color-gray-10);

        &:hover:not(:disabled) {
            border-color: var(--flld-color-gray-10);
            background-color: var(--flld-color-gray-95);
        }
    }

    &.destructive {
        border: 2px solid var(--flld-color-messaging-critical-shade);
        color: var(--flld-color-messaging-critical-shade);
        background-color: var(--flld-color-white);

        &:hover:not(:disabled) {
            background-color: color-mix(in oklab, var(--flld-color-messaging-critical), white 95%)
        }
    }

    .button-sub-text {
        font-weight: var(--flld-font-weight-regular);
    }

    &.icon-only {
        width: 44px;
        padding: 0px;
    }
}

.button-group {
    display: flex;
    gap: var(--flld-spacing-sm);
    align-items: center;
}

.toggle-button-group {
    display: inline-flex; /* shrink-wrap container */
    width: fit-content; /* ensure it hugs children in modern browsers */
    outline: 2px solid var(--flld-color-gray-10);
    outline-offset: -2px;
    border: none;
    border-radius: var(--flld-border-radius-lg);

    button {
        border-radius: 0;
        border: none;

        &:first-child {
            border-radius: var(--flld-border-radius-lg) 0 0 var(--flld-border-radius-lg);
        }

        &:last-child {
            border-radius: 0 var(--flld-border-radius-lg) var(--flld-border-radius-lg) 0;
        }
    }
}

button.toggle {
    min-height: 44px;
    padding: var(--flld-spacing-sm) var(--flld-spacing-md);
    font-weight: var(--flld-font-weight-semibold);
    background-color: var(--flld-color-white);
    color: var(--flld-color-gray-10);
    cursor: pointer;

    &:hover:not(:disabled) {
        background-color: var(--flld-color-gray-95);
    }

    &.active {
        background-color: var(--flld-color-gray-10);
        color: var(--flld-color-white);
        border: none;
        outline: 4px solid white;
        outline-offset: -4px;

        &:hover:not(:disabled) {
            background-color: var(--flld-color-gray-10);
            cursor: default;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    padding: var(--flld-spacing-md);
    border-radius: var(--flld-border-radius-lg);
    border: 1px solid var(--flld-color-gray-50);
    gap: var(--flld-spacing-md);

    h2 {
        color: var(--flld-color-gray-10);
        margin-bottom: 0;
        font-size: var(--flld-font-size-lg);
    }

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

input[type="text"], textarea {
    width: 100%;
    height: 44px;
    padding: 0 var(--flld-spacing-sm);

    font-family: var(--flld-font-family-base);

    background-color: var(--flld-color-white);
    border: 1px solid var(--flld-color-gray-75);
    border-radius: var(--flld-spacing-xs);

    font-size: var(--flld-font-size-md);

    &:focus {
        outline: 2px solid var(--flld-color-black);
        outline-offset: 2px;
    }
}

textarea {
    resize: none;
    height: auto;
    padding: var(--flld-spacing-sm);
}

.form-control {
    display: grid;
    gap: var(--flld-spacing-sm);

    .helper-text {
        font-size: var(--flld-font-size-sm);
        color: var(--flld-color-text-secondary);
    }
}
