/* FLL Display Design System */
/* This file contains all design tokens, primitives, and semantic color/spacing definitions */

@font-face {
    font-family: 'Digital-7 Mono';
    src: url('../fonts/digital-7-mono.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: "Kalam";
    src: url("../fonts/Kalam-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Kalam";
    src: url("../fonts/Kalam-Light.ttf") format("truetype");
    font-weight: lighter;
}

@font-face {
    font-family: "Kalam";
    src: url("../fonts/Kalam-Bold.ttf") format("truetype");
    font-weight: bold;
}

:root {
    /* --- PRIMITIVES --- */
    /* Color Primitives */
    
    --flld-color-white: #ffffff;
    --flld-color-gray-95: #f1f1f1;
    --flld-color-gray-75: #b9b9b9;
    --flld-color-gray-50: #777777;
    --flld-color-gray-25: #3c3c3c;
    --flld-color-gray-10: #1b1b1b;
    --flld-color-black: #000000;

    --flld-color-blue-tint: #97B8FF;
    --flld-color-blue-base: #4E8EFF;
    --flld-color-blue-shade: #355DA3;
    
    --flld-color-green-tint: #5FD068;
    --flld-color-green-base: #00A837;
    --flld-color-green-shade: #2D6B32;

    --flld-color-yellow-tint: #FFF59D;
    --flld-color-yellow-base: #FFEB3B;
    --flld-color-yellow-shade: #F9A825;

    --flld-color-red-tint: #FF9F97;
    --flld-color-red-base: #FF534E;
    --flld-color-red-shade: #B02C2C;

    --flld-color-fll-challenge-red: #ED1C24;
    --flld-color-fll-discover-purple: #662D91;
    --flld-color-fll-explore-green: #00A651;

    /* FIRST CANOPY Colors */

    --flld-color-first-canopy-teal-base: var(--flld-color-first-canopy-teal-32);
    --flld-color-first-canopy-teal-15: #000F19FF;
    --flld-color-first-canopy-teal-23: #002331FF;
    --flld-color-first-canopy-teal-32: #003947FF;
    --flld-color-first-canopy-teal-40: #1D505EFF;
    --flld-color-first-canopy-teal-49: #366776FF;
    --flld-color-first-canopy-teal-61: #5B8D9DFF;
    --flld-color-first-canopy-teal-65: #6899A9FF;
    --flld-color-first-canopy-teal-74: #81B3C4FF;
    --flld-color-first-canopy-teal-82: #9BCEDFFF;
    --flld-color-first-canopy-teal-91: #B6EAFBFF;
    --flld-color-first-canopy-teal-99: #E0FFFFFF;

    --flld-color-first-canopy-olive-base: var(--flld-color-first-canopy-olive-70);
    --flld-color-first-canopy-olive-15: #0D0C00FF;
    --flld-color-first-canopy-olive-23: #1F1F00FF;
    --flld-color-first-canopy-olive-31: #323300FF;
    --flld-color-first-canopy-olive-39: #464814FF;
    --flld-color-first-canopy-olive-47: #5B5D2CFF;
    --flld-color-first-canopy-olive-55: #727442FF;
    --flld-color-first-canopy-olive-62: #898C59FF;
    --flld-color-first-canopy-olive-70: #A1A470FF;
    --flld-color-first-canopy-olive-80: #BFC28DFF;
    --flld-color-first-canopy-olive-89: #DEE1ABFF;
    --flld-color-first-canopy-olive-99: #FDFFCAFF;

    --flld-color-first-canopy-terracotta-base: var(--flld-color-first-canopy-terracotta-62);
    --flld-color-first-canopy-terracotta-15: #240000FF;
    --flld-color-first-canopy-terracotta-23: #3E0000FF;
    --flld-color-first-canopy-terracotta-31: #56160FFF;
    --flld-color-first-canopy-terracotta-39: #6E2D23FF;
    --flld-color-first-canopy-terracotta-46: #864238FF;
    --flld-color-first-canopy-terracotta-54: #9F594EFF;
    --flld-color-first-canopy-terracotta-62: #B97064FF;
    --flld-color-first-canopy-terracotta-71: #D88C7FFF;
    --flld-color-first-canopy-terracotta-81: #F7A99BFF;
    --flld-color-first-canopy-terracotta-90: #FFCBC0FF;
    --flld-color-first-canopy-terracotta-99: #FFF6F1FF;

    --flld-color-first-canopy-slate-base: var(--flld-color-first-canopy-slate-65);
    --flld-color-first-canopy-slate-15: #010C19FF;
    --flld-color-first-canopy-slate-23: #0F1F2EFF;
    --flld-color-first-canopy-slate-32: #233444FF;
    --flld-color-first-canopy-slate-40: #394A5BFF;
    --flld-color-first-canopy-slate-48: #4F6173FF;
    --flld-color-first-canopy-slate-51: #57697AFF;
    --flld-color-first-canopy-slate-65: #7F92A5FF;
    --flld-color-first-canopy-slate-74: #99ACC0FF;
    --flld-color-first-canopy-slate-82: #B3C7DBFF;
    --flld-color-first-canopy-slate-91: #CEE2F7FF;
    --flld-color-first-canopy-slate-99: #EEFEFFFF;

    --flld-color-first-canopy-sand-base: var(--flld-color-first-canopy-sand-89);
    --flld-color-first-canopy-sand-15: #140800FF;
    --flld-color-first-canopy-sand-23: #281B00FF;
    --flld-color-first-canopy-sand-32: #3D2F11FF;
    --flld-color-first-canopy-sand-40: #534526FF;
    --flld-color-first-canopy-sand-48: #6B5C3DFF;
    --flld-color-first-canopy-sand-56: #837353FF;
    --flld-color-first-canopy-sand-65: #9C8C6BFF;
    --flld-color-first-canopy-sand-73: #B6A584FF;
    --flld-color-first-canopy-sand-81: #D0BF9DFF;
    --flld-color-first-canopy-sand-89: #EBDAB7FF;
    --flld-color-first-canopy-sand-99: #FFFAD6FF;

    /* BIOGLOW Colors - Ramps created using https://color-ramp.com/index-oklch*/

    --flld-color-bioglow-froggy-base: var(--flld-color-bioglow-froggy-87);
    --flld-color-bioglow-froggy-15: #070E00FF;
    --flld-color-bioglow-froggy-23: #162200FF;
    --flld-color-bioglow-froggy-31: #273700FF;
    --flld-color-bioglow-froggy-39: #3B4C00FF;
    --flld-color-bioglow-froggy-47: #50631AFF;
    --flld-color-bioglow-froggy-55: #667A33FF;
    --flld-color-bioglow-froggy-63: #7D924BFF;
    --flld-color-bioglow-froggy-71: #94AB63FF;
    --flld-color-bioglow-froggy-79: #ADC47BFF;
    --flld-color-bioglow-froggy-87: #C6DE94FF;
    --flld-color-bioglow-froggy-99: #F0FFC3FF;

    --flld-color-bioglow-moss-base: var(--flld-color-bioglow-moss-66);
    --flld-color-bioglow-moss-15: #031000FF;
    --flld-color-bioglow-moss-23: #0E2500FF;
    --flld-color-bioglow-moss-32: #1D3C00FF;
    --flld-color-bioglow-moss-40: #2D5500FF;
    --flld-color-bioglow-moss-49: #406F00FF;
    --flld-color-bioglow-moss-57: #57890EFF;
    --flld-color-bioglow-moss-66: #70A334FF;
    --flld-color-bioglow-moss-74: #89BE50FF;
    --flld-color-bioglow-moss-82: #A3D96CFF;
    --flld-color-bioglow-moss-91: #BDF587FF;
    --flld-color-bioglow-moss-99: #EBFFD4FF;

    --flld-color-bioglow-forest-base: var(--flld-color-bioglow-forest-41);
    --flld-color-bioglow-forest-15: #001200FF;
    --flld-color-bioglow-forest-24: #00270AFF;
    --flld-color-bioglow-forest-32: #143D1FFF;
    --flld-color-bioglow-forest-41: #2C5535FF;
    --flld-color-bioglow-forest-49: #436D4BFF;
    --flld-color-bioglow-forest-58: #5B8562FF;
    --flld-color-bioglow-forest-66: #739E7BFF;
    --flld-color-bioglow-forest-74: #8CB893FF;
    --flld-color-bioglow-forest-82: #A6D3ADFF;
    --flld-color-bioglow-forest-91: #C0EEC8FF;
    --flld-color-bioglow-forest-99: #E4FFE9FF;

    --flld-color-bioglow-sunlight-base: var(--flld-color-bioglow-sunlight-92);
    --flld-color-bioglow-sunlight-15: #0E0C00FF;
    --flld-color-bioglow-sunlight-24: #231F00FF;
    --flld-color-bioglow-sunlight-32: #3A3400FF;
    --flld-color-bioglow-sunlight-41: #524B00FF;
    --flld-color-bioglow-sunlight-49: #6B6300FF;
    --flld-color-bioglow-sunlight-58: #857D00FF;
    --flld-color-bioglow-sunlight-66: #9F9703FF;
    --flld-color-bioglow-sunlight-75: #B9B136FF;
    --flld-color-bioglow-sunlight-83: #D4CD56FF;
    --flld-color-bioglow-sunlight-92: #F0E973FF;
    --flld-color-bioglow-sunlight-99: #FFFF8CFF;

    /* Spacing Primitives */
    --flld-spacing-xs: 4px;
    --flld-spacing-sm: 8px;
    --flld-spacing-md: 16px;
    --flld-spacing-lg: 32px;
    --flld-spacing-xl: 64px;

    /* Border Radius Primitives */
    --flld-border-radius-sm: 2px;
    --flld-border-radius-md: 4px;
    --flld-border-radius-lg: 8px;
    --flld-border-radius-xl: 16px;
    --flld-border-radius-2xl: 32px;
    --flld-border-radius-full: 9999px;

    /* Typography Primitives */
    --flld-font-family-base: var(--flld-font-family-sans-serif);
    --flld-font-family-sans-serif: 'Roboto', sans-serif;
    --flld-font-family-mono: 'Digital-7 Mono', monospace;
    --flld-font-family-script: 'Kalam', cursive;

    --flld-font-size-sm: 14px;
    --flld-font-size-md: 16px;
    --flld-font-size-lg: 24px;
    --flld-font-size-xl: 32px;
    --flld-font-size-2xl: 48px;
    --flld-font-size-3xl: 64px;

    --flld-font-weight-regular: 400;
    --flld-font-weight-semibold: 600;
    --flld-font-weight-bold: 700;

    --flld-line-height-base: 1.5;

    /* --- LEVEL 1 SEMANTICS --- */
    /* Semantic Colors - Neutral */
    --flld-color-neutral-primary: var(--flld-color-gray-10);
    --flld-color-neutral-secondary: var(--flld-color-gray-25);
    --flld-color-neutral-tertiary: var(--flld-color-gray-75);

    /* Semantic Colors - Surface */
    --flld-color-surface-1: var(--flld-color-white);
    --flld-color-surface-2: var(--flld-color-gray-95);

    /* Semantic Colors - Messaging */
    --flld-color-messaging-informational-tint: var(--flld-color-blue-tint);

    --flld-color-messaging-success: var(--flld-color-green-base);

    --flld-color-messaging-warning: var(--flld-color-yellow-base);
    --flld-color-messaging-warning-shade: var(--flld-color-yellow-shade);
    
    --flld-color-messaging-critical: var(--flld-color-red-base);
    --flld-color-messaging-critical-shade: var(--flld-color-red-shade);

    /* --- LEVEL 2 SEMANTICS --- */
    /* Border Colors */
    --flld-color-border-base: var(--flld-color-neutral-tertiary);

    /* Text Colors */
    --flld-color-text-primary: var(--flld-color-neutral-primary);
    --flld-color-text-secondary: var(--flld-color-neutral-secondary);
    --flld-color-text-inverse: var(--flld-color-white);
}

/* --- DESIGN SYSTEM UTILITIES --- */

/* Base Reset - Part of Design System */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- BASE TYPOGRAPHY STYLES --- */

p, label, h1, h2, h3, h4, h5, h6 {
    max-width: 72ch;
    line-height: var(--flld-line-height-base);
}

.display-large {
    font-size: var(--flld-font-size-3xl);
    font-weight: var(--flld-font-weight-bold);
}

.display-small {
    font-size: var(--flld-font-size-2xl);
    font-weight: var(--flld-font-weight-bold);
}

.heading-large {
    font-size: var(--flld-font-size-xl);
    font-weight: var(--flld-font-weight-bold);
}

.heading-medium {
    font-size: var(--flld-font-size-lg);
    font-weight: var(--flld-font-weight-bold);
}

.heading-small {
    font-size: var(--flld-font-size-md);
    font-weight: var(--flld-font-weight-bold);
}

.subtitle {
    font-size: var(--flld-font-size-sm);
    font-weight: var(--flld-font-weight-bold);
}

label, p.label {
    display: block;
    font-weight: var(--flld-font-weight-semibold);
}

.body-1 {
    font-size: var(--flld-font-size-md);
}

.body-2 {
    font-size: var(--flld-font-size-sm);
}